/vendor
/storage
/app
/bootstrap
/csvDumps
/database
/public
/vendor2
.env
.editorconfig
.htaccess
file.csv
composer.lock
composer.json
weldheaddata.csv
index.php
package.json
phpunit.xml
readme.md
schedule_logs.log
webpack.mix.js
